@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    margin: 0;
    background-image: linear-gradient(90deg, black, #69C8ECFF);
    --gradient: linear-gradient(90deg, black, #69C8ECFF);
    --background-color: rgba(255, 255, 255, 0.159);
    font-family: 'Lobster', cursive;
    color: rgb(206, 222, 222);
}
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
/* HEAD */
#head {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
#background {
    background-image: url(./img/Rick-and-Morty.png);
    background-size: cover;
    width: 21vw;
    height: 1000%;
    margin-top: -20px;
}
#info {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 18rem;
}
#instructions {
    font-size: 1.3rem;
    text-align: center;
    padding-top: 10px;
}
/* MAIN */
.cards {
    width: 90vw;
    height: 135vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
    gap: 1rem;
    margin-top: 5px;
}
.outer-card {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    background-color: var(--background-color);
    min-height: 200px;
}
.card {
    height: 80%;
    width: 80%;
    border-radius: 20px;
}
.outer-card:hover {
    box-shadow: 0 20px 20px 10px rgba(255, 255, 255, 0.4);
}
h3 {
    margin: 0;
    margin-top: 0.5rem;
}
p {
    margin: 0;
}